<!DOCTYPE html>
<html>
<head>
  <title>ODOT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>

 <div class="container">

<div class="nav">
  <h1><i class="glyphicon glyphicon-cloud"></i> <%= link_to "ODOT", root_path %></h1>
  <ul>
    <li><%= link_to "Projects", todo_lists_path %></li>
  </ul>
  <br class="clear" />
</div>

<% flash.each do |type, message| %>
    <div class="alert flash <%= type %>">
      <%= message %>
    </div>
<% end %>

<%= yield %>
</div>
</body>
</html>
